::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: $primary-color;
  margin: 0 0 0 -5px;
  opacity: 1;
  z-index: 1;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: $primary-color;
  margin: 0 0 0 -5px;
  opacity: 1;
  z-index: 1;
}

::ng-deep .pi-chevron-right:before {
  content: '\e901';
  font-size: 2.4rem;
  color: $white-color;
}

::ng-deep .pi-chevron-left:before {
  content: '\e900';
  font-size: 2.4rem;
  color: $white-color;
}

::ng-deep
  .p-carousel
  .p-carousel-indicators
  .p-carousel-indicator.p-highlight
  button {
  background-color: $primary-color;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: $bright-grey-color;
  width: 1.6rem;
  height: 1.6rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
  box-shadow: inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
}

::ng-deep .p-carousel .p-carousel-indicators {
  position: absolute;
  left: 50%;
  z-index: 1;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:enabled:hover,
::ng-deep .p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
  background: $primary-color;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:focus,
::ng-deep .p-carousel .p-carousel-content .p-carousel-next:focus {
  box-shadow: none;
}
