$primary-color: #b41513;
$dark-primary-color: #7d0000;
$blue-color: #044772;
$dark-grey-color: #75787d;
$element-grey-color: #707172;
$bright-grey-color: #dee2e4;
$background-grey-color: #f3f4f4;

$white-color: #ffffff;
$black-color: #000000;
